<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Help article not found.</p>
    </div>

    {{>footer}}
</body>
</html>