<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/me.jpg" alt="Oluwatobi">
    </div>
    
    {{>footer}}
</body>
</html>